<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
<body>  
<div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="container">
          <h2>Add Book</h2>
            <p>
                <form action="add_book" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="book_title" class="form-label">Book title</label>
                      <input type="text" class="form-control" name="title" >
                    </div>
                    <div class="mb-2">
                    <div class="form-floating">
                    <textarea class="form-control" placeholder="Book description" name="desc"></textarea>
                    <label for="floatingTextarea2">Description</label>
                    </div>                    
                    <input type="submit" value="submit">
                  </form>
              </p>
        </div>
      </div>
    </div>
      <div class="col-md-5">
        <div class="container">
          <h2>Books</h2>
          <table class="table">
              <thead>
                  <th>id</th>
                  <th>Title</th>
                  <th>Action</th>
              </thead>
              {% for book in books%}
              <tr>
                  <td>{{book.id}}</td>
                  <td>{{book.title}}</td>
                  <td><a href="books/{{book.id}}">View</a></td>
              </tr>
              {% endfor %}
          </table>
          </form>
        </div>
      </div>
    </div>
</body>
</html>