<!DOCTYPE html>
<html>
<head>
    <title>great number game</title>
</head>
<body>
        <form method="POST" action="guess">
            {% csrf_token %}
            <input type="number" name="guess" min="1" max="100" required>
            <button type="submit">Submit</button>
        </form>

        <p>{{request.session.message}} </p>
        {% if request.session.message == 'Congratulations! You guessed the correct number!' %}
        <a href="/"> Play Again</a>
        {% endif %}
</body>
</html>
