<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add tv Show</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h4><a href="/shows">Back</a></h4>

    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} {% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container overflow-hidden " >
        <form action="/add_show" method="POST">
          {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-7">
                <label for="Network" class="form-label">Network</label>
                <input type="text" class="form-control" id="Network" name="network"  required>
                </div>
            <div class="mb-3">
              <label for="date" class="form-label">Release Date</label>
              <input type="date" class="form-control" id="date" name="release_date" required>
            </div>
            <input type="submit" class="btn btn-primary" value="Create"></button>
          </form> 
            </div>
      
    
</body>
</html>