<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h4><a href="/shows">Back</a></h4>
    <div class="container overflow-hidden " >
        <form action="edit_show/{{show.id}}" method="POST">
          {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value="{{show.title}}">
            </div>
            <div class="mb-7">
                <label for="Network" class="form-label">Network</label>
                <input type="text" class="form-control" id="Network" name="network" value="{{show.network}}">
                </div>
            <div class="mb-3">
              <label for="date" class="form-label">Release Date</label>
              <input type="date" class="form-control" id="date" name="release_date" value="{{show.release_date| date:'d/m/yyyy'}} " >
            </div>
            <input type="submit" class="btn btn-primary" value="Update"></button>
          </form> 
            </div>
      
    
</body>
</html>